
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	order: 3;	
    -webkit-order: 3;	
    background: url(../img/fbg.jpg) center center no-repeat;
    background-size: cover;
    padding: 18px 0;
}

.copyright{
	font: 14px RL;
	color: #f69598;
	text-align: center;
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}